# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
venv/

# Ignore VS Code settings (optional)
.vscode/

# Ignore OS system files
.DS_Store
Thumbs.db
# Ignore Node.js modules
scraper-service/node_modules/
